.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10%;
  gap: 1em;
}

.post {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.post img {
  width: 100%;
  margin: 1em 0;
}

.post__author {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.author__avatar {
  height: 40px;
  width: 40px !important;
  margin: 0;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 15px;
  flex: 1;
}

@media(max-width: 960px) {
  .main {
    padding: 0 2%;
  }

  h2 {
    font-size: 2em;
  }

  .sidebar {
    display: none;
  }
}