@import "layout.css";
@import "navbar.css";
@import "footer.css";
@import "blog-content.css";

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 6px;
  min-height: 100vh;
  grid-template-areas:
  "nav"
  "main"
  "ft";
}
